.UI {
    position: fixed;
    top: 0;
    left: 0;
}

.UI-Left {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
}

.UI-Upper-Left {
    position: fixed;
    top: 10px;
    left: 10px;

    width: 35%;
    height: 20vh;

    border-radius: 10%;
    border-color: black;
    border-width: 5px;
}

.UI-Modal-Title {
    text-align: center;
}

.UI-Search {
    height: 40px;
    width: 65%;

    right: 10%;
    margin-bottom: 5%;
}

.UI-Submit {
    width: 30%;
    height: 40px;
    margin-left: 5%;

    border-radius: 5px;
}

.UI-Heatmap {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 35%;
    height: 20vh;

    border-radius: 10%;
    border-color: black;
    border-width: 5px;
}

.Heatmap-Col {
    margin: auto;
}

.Heatmap-Button {
    padding: 10px 10px 0 10px;
    height: 120px;
    width: 120px;

}

.Heatmap-Button-Icon {
    width: 60px;
    height: 60px;
}

.HeatMap-Button-Text {
    text-align: center;
    padding-top: 5px;

    font-size: 20px;
    font-weight: bold;
}