.UI-Left {
    position: fixed;
    top: 0;
    left: 0;
}

.UI-Upper-Left {
    position: fixed;
    top: 1vh;
    left: 1vw;

    width: 35%;
    height: 20vh;

    border-radius: 10%;
    border-color: black;
    border-width: 5px;
}

.UI-icon {
    height: 20px;
    width: 20px;
}

.UI-Search {
    height: 40px;
    width: 65%;

    right: 10%;
    margin-bottom: 5%;
}

.UI-Submit {
    width: 30%;
    height: 40px;
    margin-left: 5%;

    border-radius: 5px;
}